.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
.attribution {
    font-size: 23px;
    margin: 10px;
}

/* because of the cascade effect I had to put this code here */
*:not(ol, ul) {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

p {
    font-size: 16px;
    color: hsl(30, 10%, 34%);
    line-height: 1.5;
}

/* start */

.recipe-content {
    margin: 50px auto;
    max-width: 670px;
    background-color: hsl(330, 100%, 98%);
    border-radius: 20px;
}
.txt {
    padding: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}
img {
    width: calc(100% - 60px);
    min-width: 300px;
    border-radius: 10px;
    margin: 30px;
}

h1 {
    color: hsl(24, 5%, 18%);
}
h2 {
    color: hsl(14, 45%, 36%);
}
b#preparation {
    color: hsl(332, 51%, 32%);
}


li {
    margin-block: 1em;
    color: hsl(30, 10%, 34%);
}
.recipe-details {
    padding-left: 1em;
}
ul li:before {
    content: "\2022"; /* Unicode character for bullet (•) */
    color: hsl(14, 45%, 36%); /* Change the color to your desired color */
    display: inline-block;
    width: 1em;
    margin-left: -2em; /* Adjust alignment */
}
ul.prepar-time li:before  {
    color: hsl(332, 51%, 32%);
}

li b {
    color: hsl(30, 10%, 34%);
}

hr {
    border: 1px solid hsl(30, 10%, 34%, 0.3);
}


ol li {
    position: relative;
    counter-increment: list-item;
}
ol li:before {
    content: counter(list-item) ".";
    color: hsl(14, 45%, 36%); 
    font-weight: bold;
    position: absolute;
    left: -2em;
}


table {
    width: 100%;
    border-spacing: 10px;
}
table tr:not(tr:last-of-type) {
    position: relative;
}
table td {
    padding-bottom: 10px;
}

table tr:not(tr:last-of-type)::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: hsl(30, 10%, 34%, 0.3);
}
table .value {
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}



